body {
	font-family: monospace;
	background-color: #222;
	color: #3f3;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	text-align: center;
}

/* CONTROL PANEL */

.panel {
	margin: 1em auto;
	padding: 1em;
	width: 15%;
	height: 15%;
	background-color: #222;
	border: 4px outset #292929;
	
	display: flex;
	flex-flow: column wrap;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
	transition: .2s ease;
	min-width: 200px;
}

.console::-webkit-scrollbar {
	background: #000;
}

::-webkit-scrollbar-track {
	background: rgba(0, 221, 0, 0.18);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 255, 0, 0.63);
}

.console {
	background-color: #000;
	background: linear-gradient(to bottom left, #111, #000);
	border: 5px inset rgba(131, 131, 131, 0.25);
	margin: auto;
	padding: 1em;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.26);
	text-align: left;
	overflow-y: scroll;
	width: 380px;
	height: 224px;
}

.console strong {
	color: rgb(255, 45, 45);
}


.consoleDeath {
	animation: dieOut 1s ease;
	background: #f00;
}

.consoleDeath > * {
	animation: dieOut 1s ease;
	animation-fill-mode: forwards;
}

.consoleDead {
	background: #000;
	color: #000;
}

.blinking {
	animation: blink .8s linear infinite;
}

@keyframes blink {
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		color: #333;
	}
}

@keyframes dieOut {
	0% {
		opacity: 1;
		background: #0f0;
	}
	90% {
		opacity: 1;
		background: #0f0;
	}
	100% {
		opacity: 0;
		background: #000;
	}
}

button {
	background-color: #333;
	border-color: #999;
	margin: auto;
	color: #3f3;
	width: 50%;
	border: 2px outset #6a6a6a;
    transition: 1s ease all;
}

button:active {
    border: 2px inset #6a6a6a;
}


.pad {
	width: 80%;
	margin: auto;
}

.pad td {
	height: 38px;
	width: 28px;
}

.pad button {
	font-size: 1.2em;
	text-align: center;
	height: 100%;
	width: 100%;
}

/* MAP DISPLAY */

.mapWrapper {
	min-width: 300px;
}

.map {
	background-color: #000;
	border-radius: 2px;
	border: 2px dotted #556;
	border-collapse: collapse;
	padding: 6em;
}

.map td {
	font-size: 1.6em;
	color: #00d8ff;
	text-shadow: 0px 0px 20px rgba(0, 216, 255, 0.69);
	border: 2px dotted #112;
    width: 32px;
    height: 32px;
}

/* CUSTOM SLIDER */

meter {
	width: 100%;
	height: 24px;
	border: 2px outset #fff;
	border-radius: 2px;
}
meter::-webkit-meter-bar {
	border-radius: 2px;
}
meter::-webkit-meter-optimum-value {
    background: #07b500;
	border-radius: 2px;
    transition: .2s ease width;
}
meter::-webkit-meter-suboptimum-value {
  background: #c3a400;
	border-radius: 2px;
    transition: .2s ease width;
}
meter::-webkit-meter-even-less-good-value {
  background: #be0000;
	border-radius: 2px;
    transition: .2s ease width;
}

.slider {
	background-color: #000;
	border-radius: 2px;
}
.sliderFill {
	background-color: #0f0;
	border-radius: 2px;
	padding: 1em;
	color: #000;
	transition: .2s ease;
}